{% extends 'base_institute.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-12 grid-margin " >
     <div class="card" style=" margin-left: 10%; margin-right: 10%; margin-top: 10% ;color: rgb(47, 60, 184);" >
      <div class="card-body" style="background-image: linear-gradient(rgb(253, 253, 174), rgb(250, 232, 184));">
        <h1 class="card-title text-center" style="margin-left: 40px;">Visitors</h1>
        <br>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
 <input type="text" class="form-control py-3" id="myInput" onkeyup="myFunction()" placeholder="Search for Name" title="Type in a name" style="color: black; margin-left: 30px;">
  </div> 
   <div class="col-sm-2  w-50 " style="margin-left:10%;">
<button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color:rgb(40, 58, 188);  margin-right: 30px;" >
<b> Add Visitors </b>
</button>

<!-- The Modal -->
     <div class="modal " id="myModal" >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header "  >
        <h4 class="modal-title w-100 text-center">Visitor Form</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body p-0" >
          <form action="{% url 'Institute_visitor' %}" method="POST" class="p-0">
             {% csrf_token %} 
              <div class="container ">
                
                <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="Name"   name="name" required >

                    </div>
                    <div class="col-6">
                      <input type="text" placeholder="Place"   name="place" required>
                  </div>
                </div>
                
                  <div class="row">
                    <div class="col-6">
                      <input type="text" placeholder="contact" rows="4" cols="50" name="contact" required>
                    </div>
                    <div class="col-6">
                      <input type="email" rows="4" placeholder="Email" cols="50" name="email" required>
                    </div>
                  </div>
    
                  <div class="row">
              <div class="col-12">
                <input type="text" placeholder="address" name="address" ></div>
                    </div>

                <div class="row">
                  <div class="col-12">
                    <label>Gender</label>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-4">
                    <input class="form-check-input" type="radio" name="gender" value="male" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Male
                    </label>
                  </div>
                  <div class="col-4">
                    <input class="form-check-input" type="radio" name="gender" value="female">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Female
                    </label>
                  </div>
                  <div class="col-4">
                    <input class="form-check-input" type="radio" name="gender" value="female" >
                    <label class="form-check-label" for="flexRadioDefault1">
                      Others
                    </label>
                  </div>
                </div>
              
              
                    <div class="row">
                      <div class="col-6">
                        <input type="text" placeholder="guardian"  name="guardian" required>
                      </div>
                      <div class="col-6">
                        <input type="text" placeholder="school"  name="school" required>
                      </div>
                      <!-- <div class="col-4">
                        <input type="text" placeholder="Purpose"  name="purpose" required>
                      </div> -->
                    </div>
                      <div class="row">
                       <div class="col-12">
                     <input type="text" placeholder="Purpose" name="purpose" ></div>
                    </div>
            
                    <div class="row">
                      <div class="col-4">
                        <input type="date" placeholder="Date of Visit"  name="date" required>
                    </div>
                    <div class="col-4">
                      <input type="time" placeholder="Time of Visit" name="time" required>
                    </div>
                  </div>
             
                <div class="container con" style="display: flex;justify-content: center;">
                <input type="submit" value="Done" class="btn btn-success" >

                </div>
            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button> -->
      </div>

    </div>
  </div>
</div>
   </div>
   </div>
     <br>
     <br>
     <div class="table-responsive">
      <table class="table" id="myTable" style="color: black;">
        <thead style="font-size: 16px;font-family: Arial, Helvetica, sans-serif; width: 100%;">
          <tr class="header" >
          
            <th > Name  </th>
            <th> Place </th>
            <th> Email </th>
            <th> Contact </th>
            <th> Address </th>
            <th> Guardian </th>
            <th> School </th>
            <th> Gender </th>
            <th> Purpose </th>
            <th> Date&nbsp;of&nbsp;Visit </th>
            <th> Time </th>
          
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
                    <tr>
                       <td>{{ i.name }}</td>
                       <td>{{ i.place }}</td>
                       <td>{{ i.email }}</td>
                       <td>{{ i.contact }}</td>               
                       <td>{{ i.address }}</td>
                       <td>{{ i.guardian }}</td>
                       <td>{{ i.school }}</td>
                       <td>{{ i.gender }}</td>
                       <td>{{ i.purpose }}</td>
                       <td>{{ i.date }}</td>
                       <td>{{ i.time }}</td>
                      
                       
                        <td><a href="{% url 'institute_admission_delete' i.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure want to Delete ?')">Delete</a></td>
                       
                  </tr>
                 {% endfor %} 
        </tbody>
      </table>
    </div>

       </div>
      </div>
    </div>
  </div>

  <script>
  function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
  td = tr[i].getElementsByTagName("td")[0];
  if (td) {
  txtValue = td.textContent || td.innerText;
  if (txtValue.toUpperCase().indexOf(filter) > -1) {
  tr[i].style.display = "";
  } else {
  tr[i].style.display = "none";
  }
  }       
  }
  }
  </script>



{% endblock %}