{% extends 'base_institute.html' %}
{% load static %}
{% block content %}


<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.chkvalue').click(function() { // run through each of the checkboxes
       var txt="";
       $('.chkvalue:checked').each(function(){
        txt +=$(this).val()+","
       });
	   txt=txt.substring(0,txt.length-1);
       $('#txtvalues').val(txt);
      });
    });
    </script>
</head>

<div class="row">
	<div class="col-12 grid-margin " >
	   <div class="card" style=" margin-left: 10%; margin-right: 10%; margin-top: 10% ;color: rgb(47, 60, 184);" >
		<div class="card-body" style="background-image: linear-gradient(rgb(253, 253, 174), rgb(250, 232, 184));">
		  <h1 class="card-title text-center" style="margin-left: 40px;">Staff</h1>
		  <br>
		  <div class="form-group">
			<div class="row">
			  <div class="col-sm-4">
   <input type="text" class="form-control py-3" id="myInput" onkeyup="myFunction()" placeholder="Search for Name" title="Type in a name" style="color: black; margin-left: 30px;">
	</div> 
<div class="col-sm-2  w-50 " style="margin-left:10%;">
  <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color:rgb(40, 58, 188);  margin-right: 30px;" >
  <b> Staff</b>
  </button>

  <!-- The Modal -->
	<div class="modal " id="myModal" >
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header "  >
		  <h4 class="modal-title w-100 text-center">Staff</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body p-0" >
			<form action="{% url 'institute_staff' %}" method="POST" class="p-0">
			   {% csrf_token %} 
				<div class="container ">
				  
				  <div class="row">
					  <div class="col-6">
						<input type="text" placeholder="Name"   name="name" required >
					  </div>
					  <div class="col-6">
						<input type="email" placeholder="Email"   name="email" required>
					</div>
				  </div>
					<div class="row">
					  <div class="col-6">
						<input type="text" placeholder="Contact"  name="contact" required>
					  </div>
					  <div class="col-6">
						<input type="text" placeholder="Designation" name="desig" ></div>
					  </div>
					 
					
					<div class="row">
					  <div class="col-12">
						<select  name="department" >
						<option>Select Department</option>
						<option value="IT">IT</option>
						<option value="Tours">Tours</option>
						<option value="accounts">Accounts</option>
						
						</select>
					  </div>
					  </div>
					
					 <div class="row">
					  <div class="col-12">
						<label>Image</label>
					  </div>
					  
					 </div>
					 <div class="row">
					  <div class="col-6">
						<input type="file" placeholder="Upload"  name="photo" required>
					  </div>
					 
					 </div>
					
					 <div class="row">
					  <div class="col-6">
						<input type="text" placeholder="Username" name="username" required>
					  </div>
					  <div class="col-6">
						<input type="password" placeholder="Password" name="password" required>
					  </div>
					 </div>
				   
					 <div class="row">
						<div class="col-12">
						  <label>Privilege</label>
						</div>
					  </div>
					  
					  <div class="row">
						<div class="col-1">
						  <input class="chkvalue" type="checkbox" name="check" value="visitor" id="checkvalue"></div>
						  <div class="col-3">
						  <label class="form-check-label" for="flexRadioDefault1">
							Visitor
						  </label></div>
					
						<div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="lead" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							  Lead 
							</label>
							</div>
						
						  <div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="class" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							  Class
							</label>
							</div>
						  </div>


						  <div class="row">
						  <div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="staff" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							  Staff 
							</label>
							</div>
						  
						  <div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="admission" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							  Admission
							</label>
							</div>
						  
						  <div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="Transportation" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							Transportation
							</label>
						  </div>
						  </div>
						  <div class="row">
						  <div class="col-1">
							<input class="chkvalue" type="Checkbox" name="check" value="fee" id="checkvalue">
							</div>
							<div class="col-3">
							<label class="form-check-label" for="flexRadioDefault1">
							  Fee 
							</label>
						  </div>
						  </div>
					  </div>

					  <div class="container">
					  <input type="text" name="coursename" id="txtvalues">
					  </div>

				  <div class="container con" style="display: flex;justify-content: center;">
					
				  <input type="submit" value="Done" class="btn btn-success" id="but1" >

				  </div>
			  </form>
		</div>
  
		<!-- Modal footer -->
		<div class="modal-footer">
		  <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" >Close</button> -->
		</div>
  
	  </div>
	</div>
    </div>
	
</div>
	   <br>
	   <br>






	   <div class="table-responsive">
		<table class="table" id="myTable" style="color: black;">
		  <thead style="font-size: 16px;font-family: Arial, Helvetica, sans-serif; width: 100%;">
			<tr class="header" >
			
				<th> Name </th>
				<th> Department </th>
				<th> Conatct </th>
				<th> Photo </th>
				<th> Email </th>
				<th> Username </th>
				<th> Password </th>
				<th> Privilege </th>
			
			</tr>
		  </thead>
		  <tbody>
			{% for i in data %}
					  <tr>
						<td>{{ i.name }} </td>
						
						<td> {{ i.department }} </td>

						<td>{{ i.contact }} </td>                             
						
						<td> {{ i.photo }}</td>
						<td> {{ i.email }}</td>
						<td> {{ i.username }}</td>
						<td> {{ i.password }}</td>
						<td> {{ i.check }}&nbsp;
						
						</td>
						<td> <a href="{% url 'institute_staff_delete' i.id %}" class="btn btn-danger" onclick="return confirm('Are You Sure want to Delete ?')">Delete</a></td>
						<td> <a href="{% url 'institute_staff_update' i.id %}" class="btn btn-success" >Update</a></td>
					</tr>
				   {% endfor %} 
		  </tbody>
		</table>
	  </div>

		 </div>
		</div>
	  </div>
	</div>

	<script>
	function myFunction() {
	var input, filter, table, tr, td, i, txtValue;
	input = document.getElementById("myInput");
	filter = input.value.toUpperCase();
	table = document.getElementById("myTable");
	tr = table.getElementsByTagName("tr");
	for (i = 0; i < tr.length; i++) {
	td = tr[i].getElementsByTagName("td")[0];
	if (td) {
	txtValue = td.textContent || td.innerText;
	if (txtValue.toUpperCase().indexOf(filter) > -1) {
	tr[i].style.display = "";
	} else {
	tr[i].style.display = "none";
	}
	}       
	}
	}
	</script>















{% endblock %}