{% extends 'base_student.html' %}
 {% load static %}
  {% block content %}
  

 
    <div class="row"> 
    {% for i in dd %}    
     <div class="col-sm-4 grid-margin">
      <div class="card" style="height:200px;margin-top:15%;margin-left: 8%;box-shadow: 5px 10px 8px #888888; background-image: url('static/assets/images/download.jpg'); background-size: cover; ">
        <a href="{{ i.url }}" style="text-decoration: none; color: #f8f9fa;">
        <div class="card-body">
        <h4 style="color:black; text-align:start;">Topic - {{i.topic}}</h4>
        <div class="row">
          <div class="col-8 col-sm-12 col-xl-8 my-auto">
           

              <h5 style="color:black; text-align:start;">Teacher - {{ i.staff_id.name }}</h5>
              
          
            <h6 class=" font-weight-normal" style="text-align:start; color:rgb(25, 0, 255);">{{ i.date }}</h6>
            <h6 class=" font-weight-normal" style="text-align:start; color:rgb(25, 0, 255);">{{ i.stime }} - {{ i.etime }}</h6>
          </div>
          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
          </div>
        </div>
      </div>
      </a>

    </div>
  </div>
  {% endfor %}
</div>

  {% endblock %}